body, h1, p, ul, li, section {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #1b1a1a;
    background-image: url('pngtree-black-and-yellow-background-design-vector-picture-image_2025884.jpg');   
    background-size: cover;
    background-attachment: fixed; 
}

h2 {
    font-size: 70px;
}

h1 {
    font-size: 2.5rem;
    color: #002b5c;
    font-size: 30px;
}

p {
    font-size: 24px;
    line-height: 1.6;
}

/* Menú */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #010203;
    z-index: 1000;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #fdb813;
}
/* Secciones */
section {
    margin: auto 140px;
    padding: 100px 20px;
    min-height: 100vh;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
}